*{
  padding: 0;
  margin: 0;
}

button{
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

main{
  height: 1920px;
  width: 1080px;
  margin: 0 auto;
  overflow: hidden;
}

header{
  height: 167px;
}

.content{
  height: 1653px;
  position: relative;
}

/*map area*/
.map-area{
  overflow: hidden;
  margin: 0 auto;
  width: 1000px;
  height: 1246px;
  text-align: center;
}
.map-container{
  width: 1000px;
  height: 1200px;
  margin: 23px 0;
  overflow: hidden;
}
.map{
}
.location-pin{
  position: absolute;
  top: 487px;
  right: 320px;
}

.location-label{
  position: absolute;
  top: 615px;
  right: 280px;
}

.map-radius{
  position: absolute;
  top: 300px;
  right: 100px;
  opacity: 0;
}

.map-type{
  position: absolute;
  top: 820px;
  right: 50px;
}

.map-type img{
  display: block;
  margin: 10px auto;
}

.zoom-area{
  position: absolute;
  top: 1030px;
  right: 50px;
  width: 243px;
  text-align: center;
}

.zoom-btn{
  margin: 5px 0 15px;
}

.zoom-out{
  opacity: 0.3;
  float: left;
}

.zoom-in{
  float: right;
}

.result-label{
  margin-top: 20px;
}


/*zoom slider*/
input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: 13.8px 0;
  background-color: transparent;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 243px;
  height: 10px;
  cursor: pointer;
  background: url("../images/slider-bar.png") no-repeat 0 0;
}
input[type=range]::-webkit-slider-thumb {
  height: 27px;
  width: 20px;
  background: url("../images/slider-thumb.png") no-repeat 0 0;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -6px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: url("../images/slider-bar.png") no-repeat 0 0;
}
input[type=range]::-moz-range-track {
  width: 243px;
  height: 10px;
  cursor: pointer;
  background: url("../images/slider-bar.png") no-repeat 0 0;
}
input[type=range]::-moz-range-thumb {
  height: 27px;
  width: 20px;
  background: url("../images/slider-thumb.png") no-repeat 0 0;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -5px;
  border: none;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: #3071a9;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #17ffff;
  cursor: pointer;
  height: 8.4px;
}
input[type=range]:focus::-ms-fill-lower {
  background: #3071a9;
}
input[type=range]:focus::-ms-fill-upper {
  background: #367ebd;
}


.location-flag, .location-path{
  position: absolute;
  display: none;
}
.location-flag1{
  top: 340px;
  right: 50px;
}
.location-flag2{
  top: 320px;
  left: 300px;
}
.location-flag3{
  bottom: 506px;
  left: 403px;
}
.location-path1{
  top: 480px;
  right: 150px;
}
.location-path2{
  top: 480px;
  left: 420px;
}
.location-path3{
  bottom: 542px;
  right: 206px;
}

 /*nav bar area*/

.nav-bar{
  background: url("../images/nav.png") no-repeat 0 -14px;
  position: absolute;
  top: 0;
  left: 0;
  width: 263px;
  height: 1279px;
  padding-top: 201px;
}

.nav-bar button{
  width: 250px;
  height: 100px;
  margin-bottom: 50px;
}

.cat-list{
  position: absolute;
  top: 0;
  left: -313px;
  width: 313px;
  height: 1267px;
  overflow: hidden;
}

.store-list{
  background: url("../images/store-alpha.png") no-repeat 0 -5px;
}

.dining-list{
  background: url("../images/dining-alpha.png") no-repeat 0 -5px;
}

.attraction-list{
  background: url("../images/attraction-alpha.png") no-repeat 0 -5px;
}

.step-list{
  background: url("../images/step2.png") no-repeat 0 -5px;
}

.cat-list .close-btn{
  width: 120px;
  height: 50px;
  margin: 20px 0 0 15px;
}

.cat-list .filter{
  margin-top: 75px;
}

.cat-list button{
  height: 80px;
}

.cat-list .alpha-btn{
  width: 120px;
}

.cat-list .cat-btn{
  width: 170px;
}

.scroll-area{
  overflow-y: scroll;
  margin-top: 20px;
  padding-left: 22px;
  padding-bottom: 20px;
  height: 970px;
  width: 280px;
}


/*other content*/
.content-container{
  height: 1653px;
  display: none;
}

.content-container button{
  width: 156px;
  height: 50px;
  position: absolute;
}

.content-container .back-btn{
  top: 47px;
  left: 24px;
}

.poster-content{
  background: url("../images/poster-content.png") no-repeat 0 4px;
  overflow: hidden;
  position: relative;
}

.direction-btn{
  bottom: 350px;
  left: 110px;
}

.promo-content{
  background: url("../images/promo-content.png") no-repeat 0 -4px;
}
.promo-content div{
  height: 100%;
}

.about-content{
  background: url("../images/about-content.png") no-repeat 25px 25px;
}

.search-content{
  background: url("../images/search-content.png") no-repeat 0 40px;
}


footer{
  height:100px;
}
